{% extends 'base.html.twig' %}

{% block title %}{{ title }}!{% endblock %}

{% block body %}

<div class="contact">
  <div class="row">
    <div class="col-md-4 px-5 py-3">
        <div class="d-flex flex-row align-items-center h-100">
            <div>
                <h2 class="contact__greeting"><span class="text-danger">We would love </span> to say Hi to you. <br/>Just because.</h2>
                <a class="btn btn-primary" href="{{ path('contacts') }}"><i class="fa fa-terminal"></i> View all saved contacts</a>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="contact__container">
            <div class="contact__container__top text-center">
                <img src="{{ asset('images/fall.svg') }}" class="img-fluid contact__container__top__img" alt="contact greeting image" />
                <p><b>SocialPlaces</b> <span class="text-muted">Contact</span></p>
            </div>
            {% if errors is defined %}
                <ul>
                    {% for error in errors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% form_theme form 'bootstrap_4_layout.html.twig' %}
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {% for flashMessage in app.flashes('error-flash') %}

            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <h4 class="alert-heading">Error: </h4>
                <p>{{ flashMessage }}</p>
            </div>

            {% endfor %}
            <form class="contact__form">
                <div>
                    <div class="form-group">
                      <div>    
                          <label for="contactForm" class="text-danger">
                            <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                            </span> Please fill in contact details
                          </label>
                      </div>
                    </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name, {'attr': {'placeholder': 'Your name'} }) }}
                  </div>
                  <div class="form-group col-md-6">
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email, {'attr': {'placeholder': 'Your email'} }) }}
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                        {{ form_errors(form.phone) }}
                        {{ form_widget(form.phone, {'attr': {'placeholder': 'Your phone number'} }) }}
                  </div>
                  <div class="form-group col-md-6">
                        {{ form_errors(form.subject) }}
                        {{ form_widget(form.subject, {'attr': {'placeholder': 'Subject'} }) }}
                  </div>
                </div>
                <div class="form-group">
                        {{ form_errors(form.message) }}
                        {{ form_widget(form.message, {'attr': {'placeholder': 'Talk to us'} }) }}
                </div>
                <div class="g-recaptcha" data-sitekey="{{ google_sitekey }}"></div>
            {{ form_end(form) }}
        </div>
    </div>
  </div>
</div>

{% endblock %}
